<!DOCTYPE html>
<html>
	<head>
	</head>
<body>
<style>
body
{
	background: linear-gradient(green, silver);
   
}
h1   
{
	color: yellow;
}
p    
{
	color: orange;
}
</style>

<h1>This is a heading</h1>
<p>This is a paragraph.</p>

</body>
</html>
